doctype html
html(ng-app="SocketDirectiveDemo")
    head
    title Socket Directive Demo
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

    body
        div.container
            div.row
                div.col-lg-12
                    h1 Socket Directive Demo
                    div(ng-controller="LsController")
                        div.panel.panel-primary
                            div.panel-heading
                                h2.panel-title Channel: "/models/ls"
                            div.panel-body
                                div.form-group
                                    textarea(rows="10", tw-socket="/models/ls", ng-model="results").form-control
                                div.form-group
                                    input(type="text", ng-model="directory").form-control
                                    button(ng-click="submit()").btn.btn-primary Submit
                        div Results: {{results}}
        script(src="/socket.io/socket.io.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js")
        script(src="/js/tw-socket.js")
        script(src="/js/tw.js")
        script(src="/js/main.js")
